@model IEnumerable<Belegaufgabe3.Models.Todo> 

@{
    ViewBag.Title = "Index";
}

<h2>Meine Todoliste:</h2><br />

@Html.ActionLink("Neues Todo anlegen", "Add", "Todo", new { @class = "btn btn-default" })

<table>

    <tr>
        <th>
            <b>Titel</b>
        </th>
        <th>
            <b>Beschreibung</b>
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.titel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.beschreibung)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })          
            </td>
        </tr>

    }
</table>
